
<!-- 
to escape brackets like <>, [], use CDATA       
<![CDATA[ price < 500 ]]>
-->

<!-- MAPPER userRepository.js -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">  

    <!-- add a single post -->
    <insert id="createPost">
        
        INSERT INTO posts (content, userId)
        VALUES (#{content}, #{userId});
    
    </insert>

    <!-- select a single user with id -->
    <select id="findPostsInRange">
        SELECT * FROM talelorz.posts WHERE created_at > #{timecursor}
        OR (created_at = #{timecursor} AND idposts > #{idcursor})
        ORDER BY created_at DESC, idposts ASC
        LIMIT #{limit}
    </select>

    <!-- add user tags -->
    <insert id="addUserTags">
        INSERT INTO posts_user_tags (postId, targetUserId)
        VALUES 
        <foreach collection="targetUserId" item="name" separator=",">
            (#{postId}, #{name})  
        </foreach>
    </insert>

    <!-- create hashtags -->
    <!-- insert IGNORE will ignore duplicates -->
    <insert id="createHashtags">
        INSERT IGNORE INTO hashtags (hashtag) VALUES
        <foreach collection="hashtags" item="text" separator=",">
            (#{text})  
        </foreach>
    </insert>


    <!-- add hashtags -->
    <insert id="addHashtags">
        INSERT INTO posts_hashtags (postId, hashtagId)
        SELECT #{postId}, idt.id FROM (
            SELECT id FROM hashtags WHERE
            <foreach collection="hashtags" item="text" separator="OR">
                hashtag=#{text}
            </foreach>
        ) AS idt
    </insert>

    <!-- delete a single user with id -->
    <delete id="deletePost">
        DELETE FROM posts
        WHERE
            uid = #{uesrId}
    </delete>

    <!-- flush database -->
    <delete id="flushTable">
        DELETE FROM posts
    </delete>
</mapper>

